* {
    margin: 0;
    padding: 0;
    font-family: lato;
}
.Lenguajes-de-programaci贸n {
    width: 700px;
    height: auto;
    margin:50px auto 0;
    overflow: hidden;
}
.Lenguajes-de-programaci贸n ul {
    display: flex;
    padding: 0;
    width: 300%;
    animation: slide 20s infinite alternate ease-in-out;
}
.Lenguajes-de-programaci贸n li {
    width: 100%;
    list-style: none;
}
.Lenguajes-de-programaci贸n img {
    width: 110%;
}
@keyframes slide {
    0% {margin-left: 0;}
    20% {margin-left: 0;}
    25% {margin-left: -100%;}
    45% {margin-left: -100%;}
    50% {margin-left: -200%;}
    70% {margin-left: -200%;}
    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}